/BWFramework/BWFramework/BLL/obj
/BWFramework/BWFramework/BWFrameworkCreater/obj
/BWFramework/BWFramework/Common/bin
/BWFramework/BWFramework/Common/obj
/BWFramework/BWFramework/DAL/obj
/BWFramework/BWFramework/DBHelper/obj
/BWFramework/BWFramework/DBHelper/bin
/BWFramework/BWFramework/DBTransactionHelper/obj
/BWFramework/BWFramework/DBTransactionHelper/bin
/BWFramework/BWFramework/Model/obj
/BWWeb模板/BWFramework/BLL/obj
/BWWeb模板/BWFramework/BLL/bin
/BWWeb模板/BWFramework/DAL/obj
/BWWeb模板/BWFramework/DAL/bin
/BWWeb模板/BWFramework/Model/obj
/BWWeb模板/BWFramework/Model/bin
/BWWeb模板/BWWeb/bin
/BWWeb模板/BWWeb/obj
